mixin header-logo(link)
  a.header__logo.header-logo(href=link)
    svg(class="mobile-logo" width="74" height="23")
      use(href=`${require("Images/logo/logo-sprite.svg")}#logo-header-mobile`)
    svg(class="tablet-logo" width="145" height="40")
      use(href=`${require("Images/logo/logo-sprite.svg")}#logo-header-tablet`)
    svg(class="desktop-logo" width="147" height="40")
      use(href=`${require("Images/logo/logo-sprite.svg")}#logo-header-desktop`)

mixin footer-logo(link)
  a.footer__logo.footer-logo(href=link)
    svg(class="tablet-logo" width="145" height="40")
      use(href=`${require("Images/logo/logo-sprite.svg")}#logo-footer-tablet`)
    svg(class="desktop-logo" width="147" height="40")
      use(href=`${require("Images/logo/logo-sprite.svg")}#logo-footer-desktop`)

mixin slider-toggles(item, condition)
  if condition === "first"
    ol(class=item).slider__toggles.toggles
      li.toggles__item
        button.toggles__btn.toggles__btn--active(type="button")
          span.visually-hidden Слайд 1
      li.toggles__item
        button.toggles__btn(type="button")
          span.visually-hidden Слайд 2
      li.toggles__item
        button.toggles__btn(type="button")
          span.visually-hidden Слайд 3
  else if condition === "second"
    ol(class=item).slider__toggles.toggles
      li.toggles__item
        button.toggles__btn(type="button")
          span.visually-hidden Слайд 1
      li.toggles__item
        button.toggles__btn.toggles__btn--active(type="button")
          span.visually-hidden Слайд 2
      li.toggles__item
        button.toggles__btn(type="button")
          span.visually-hidden Слайд 3

mixin catalog-picture(name, alttext, ext)
  picture
    if ext
      source(
        type="image/webp"
        media="(min-width: 1217px)"
        srcset=`${require("Images/content/desktop/" + name + "-desktop." + ext)} 1x, ${require("Images/content/desktop/" + name + "-desktop@2x." + ext)} 2x`
      )
      source(
        type="image/webp"
        media="(min-width: 677px)"
        srcset=`${require("Images/content/tablet/" + name + "-tablet." + ext)} 1x, ${require("Images/content/tablet/" + name + "-tablet@2x." + ext)} 2x`
      )
      source(
        type="image/webp"
        srcset=`${require("Images/content/mobile/" + name + "-mobile." + ext)} 1x, ${require("Images/content/mobile/" + name + "-mobile@2x." + ext)} 2x`
      )
    source(
      media="(min-width: 1217px)"
      srcset=`${require("Images/content/desktop/" + name + "-desktop.jpg")} 1x, ${require("Images/content/desktop/" + name + "-desktop@2x.jpg")} 2x`
    )
    source(
      media="(min-width: 677px)"
      srcset=`${require("Images/content/tablet/" + name + "-tablet.jpg")} 1x, ${require("Images/content/tablet/" + name + "-tablet@2x.jpg")} 2x`
    )
    img.catalog__image(
      src=require("Images/content/mobile/" + name + "-mobile.jpg")
      srcset=`${require("Images/content/mobile/" + name + "-mobile@2x.jpg")} 2x`
      alt=alttext
    )
