extends base

block variables
  - var title = 'Pink - Фотографии'
  - var linkScripts = '../catalog.js'
  - var namePage = 'Catalog'

block content
  main.main.main-container

    section.invitation
      div.invitation__banner
        h1.invitation__title Фотографии #[br] пользователей
        div.invitation__description
          p.invitation__text Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

    section.catalog.container
      h2.visually-hidden Каталог фотографий
      div.catalog__gallery.gallery
        h3.catalog__panorama-title Панорама дня
        ul.catalog__list
          li.catalog__item
            figure.catalog__card
              a.catalog__link.catalog__link--panorama(href="#")
                +catalog-picture("panorama", "Вид на подвесной мост.", "webp")
              blockquote.catalog__description
                span.catalog__author Анна
                span.catalog__publication-time (5 минут назад)
                p.catalog__text Прыгать или нет? Напишите в комментарии свой совет и #[br] смотрите прямую трансляцию в перископе, задавайте свои вопросы!
                button.catalog__button(type="button") Нравится:
                  span 215
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-1", "Фотосъемка белой машины.")
              blockquote.catalog__description
                span.catalog__author Левон
                span.catalog__publication-time (5 часов назад)
                p.catalog__text Вчера он на луну летал, сегодня в руки к нам попал.
                button.catalog__button(type="button") Нравится:
                  span 356
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-2", "Барабанная установка.")
              blockquote.catalog__description
                span.catalog__author Антон
                span.catalog__publication-time (12 часов назад)
                p.catalog__text Соседи будут рады!
                button.catalog__button(type="button") Нравится:
                  span 667
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-3", "Вид на небо сквозь прозрачную крышу.")
              blockquote.catalog__description
                span.catalog__author Борис
                span.catalog__publication-time (20 часов назад)
                p.catalog__text Здесь могла быть ваша цитата о высоком и вечном.
                button.catalog__button(type="button") Нравится:
                  span 215
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-4", "Фестиваль Кубанская бахча.")
              blockquote.catalog__description
                span.catalog__author Сергей
                span.catalog__publication-time (25 часов назад)
                p.catalog__text Самая кубанская в мире!
                button.catalog__button(type="button") Нравится:
                  span 4
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-5", "Вид на ноги и горы.")
              blockquote.catalog__description
                span.catalog__author Максим
                span.catalog__publication-time (40 часов назад)
                p.catalog__text Где снег-то?
                button.catalog__button(type="button") Нравится:
                  span 150
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                +catalog-picture("photo-6", "Вид на крыло самолета и закат.")
              blockquote.catalog__description
                span.catalog__author Надежда
                span.catalog__publication-time (45 часов назад)
                p.catalog__text Всем GM и взаимные лайки!
                button.catalog__button(type="button") Нравится:
                  span 2560

    section.uploading-images
      h2.visually-hidden Форма загрузки фотографий
      p.uploading-images__slogan Затмите их всех! #[br] Выкладывайте все, что накопилось в телефоне!
      form.uploading-images__form.form.container(action="https://echo.htmlacademy.ru" method="post" enctype="multipart/form-data")
        div.form__upload-image
          label.form__label
            input.visually-hidden.form__input(type="file" name="image")
            span.visually-hidden Выберите фотографию для загрузки
            div.form__input-image
              picture
                source(
                  media="(min-width: 677px)"
                  srcset=`${require("Images/content/desktop/photo-7-desktop.jpg")} 1x, ${require("Images/content/desktop/photo-7-desktop@2x.jpg")} 2x`
                )
                img.catalog__image(
                  src=require("Images/content/mobile/photo-7-mobile.jpg")
                  srcset=`${require("Images/content/mobile/photo-7-mobile@2x.jpg")} 2x`
                  alt="Зимняя лесная дорога."
                )
        div.form__editor.editor-tabs
          h2.visually-hidden Редактор изображений
          div.editor-tabs__panel
            button.editor-tabs__switch.editor-tabs__switch--crop.editor-tabs__switch--active(type="button"
              data-tab="tabs__item--crop")
              svg(width="44" height="44")
                use(href=`${require("Images/icons/icons-sprite.svg")}#icon-crop`)
              span.visually-hidden Обрезать изображение
            button.editor-tabs__switch.editor-tabs__switch--fill(type="button" data-tab="tabs__item--fill")
              svg(width="48" height="43")
                use(href=`${require("Images/icons/icons-sprite.svg")}#icon-fill`)
              span.visually-hidden Заливка цветом
            button.editor-tabs__switch.editor-tabs__switch--contrast(type="button" data-tab="tabs__item--contrast")
              svg(width="32" height="32")
                use(href=`${require("Images/icons/icons-sprite.svg")}#icon-contrast`)
              span.visually-hidden Установить контраст
          div.editor-tabs__wrapper
            div.editor-tabs__item.editor-tabs__item--crop.editor-tabs__item--active
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="85" name="range" step="0.5")
                span.visually-hidden Ползунок обрезки изображения
            div.editor-tabs__item.editor-tabs__item--fill
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="13.5" name="range" step="0.5")
                span.visually-hidden Ползунок заливки цветом
            div.editor-tabs__item.editor-tabs__item--contrast
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="50.5" name="range" step="0.5")
                span.visually-hidden Ползунок установки контраста
        div.form__buttons
          button.form__button.form__button--submit(type="submit") Запостить
          button.form__button.form__button--reset(type="reset") Отмена
