extends base

block variables
  - var title = 'Pink - Фотографии'
  - var linkScripts = '../catalog.js'
  - var namePage = 'Catalog'

block content
  main.main.main-container

    section.invitation.container
      div.invitation__banner
        h1.invitation__title Фотографии #[br] пользователей
        div.invitation__description
          p.invitation__text Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?

    section.catalog.container
      h2.visually-hidden Каталог фотографий
      div.catalog__gallery.gallery
        h3.catalog__panorama-title Панорама дня
        ul.catalog__list
          li.catalog__item
            figure.catalog__card
              a.catalog__link.catalog__link--panorama(href="#")
                img.catalog__image(src=require("Images/content/mobile/panorama-mobile.jpg") width="320" height="137"
                  alt="Вид на подвесной мост.")
              blockquote.catalog__description
                span.catalog__author Анна
                span.catalog__publication-time (5 минут назад)
                p.catalog__text Прыгать или нет? Напишите в комментарии свой совет и #[br] смотрите прямую трансляцию в перископе, задавайте свои вопросы!
                button.catalog__button(type="button") Нравится:
                  span 215
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-1-mobile.jpg") width="280" height="180"
                  alt="Фотосъемка белой машины.")
              blockquote.catalog__description
                span.catalog__author Левон
                span.catalog__publication-time (5 часов назад)
                p.catalog__text Вчера он на луну летал, сегодня в руки к нам попал.
                button.catalog__button(type="button") Нравится:
                  span 356
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-2-mobile.jpg") width="280" height="180"
                  alt="Барабанная установка.")
              blockquote.catalog__description
                span.catalog__author Антон
                span.catalog__publication-time (12 часов назад)
                p.catalog__text Соседи будут рады!
                button.catalog__button(type="button") Нравится:
                  span 667
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-3-mobile.jpg") width="280" height="180"
                  alt="Вид на небо сквозь прозрачную крышу.")
              blockquote.catalog__description
                span.catalog__author Борис
                span.catalog__publication-time (20 часов назад)
                p.catalog__text Здесь могла быть ваша цитата о высоком и вечном.
                button.catalog__button(type="button") Нравится:
                  span 215
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-4-mobile.jpg") width="280" height="180"
                  alt="Фестиваль Кубанская бахча.")
              blockquote.catalog__description
                span.catalog__author Сергей
                span.catalog__publication-time (25 часов назад)
                p.catalog__text Самая кубанская в мире!
                button.catalog__button(type="button") Нравится:
                  span 4
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-5-mobile.jpg") width="280" height="180"
                  alt="Вид на ноги и горы.")
              blockquote.catalog__description
                span.catalog__author Максим
                span.catalog__publication-time (40 часов назад)
                p.catalog__text Где снег-то?
                button.catalog__button(type="button") Нравится:
                  span 150
          li.catalog__item
            figure.catalog__card
              a.catalog__link(href="#")
                img.catalog__image(src=require("Images/content/mobile/photo-6-mobile.jpg") width="280" height="180"
                  alt="Вид на крыло самолета и закат.")
              blockquote.catalog__description
                span.catalog__author Надежда
                span.catalog__publication-time (45 часов назад)
                p.catalog__text Всем GM и взаимные лайки!
                button.catalog__button(type="button") Нравится:
                  span 2560

    section.uploading-images.container
      h2.visually-hidden Форма загрузки фотографий
      p.uploading-images__slogan Затмите их всех! #[br] Выкладывайте все, что накопилось в телефоне!
      form.uploading-images__form.form(action="https://echo.htmlacademy.ru" method="post" enctype="multipart/form-data")
        div.form__image
          label.form__label
            input.visually-hidden.form__input(type="file" name="image")
            span.visually-hidden Выберите файл
            div.form__input-image
              img(src=require("Images/content/mobile/photo-7-mobile.jpg") width="280" height="374" alt="Зимняя лесная " +
              "дорога")
        div.form__editor.editor-tabs
          h2.visually-hidden Редактор изображений
          div.editor-tabs__panel
            button.editor-tabs__switch.editor-tabs__switch--crop.editor-tabs__switch--active(type="button"
              data-tab="tabs__item--crop")
              svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="img")
                path(fill="#283645" d="M32 28h4V12a4 4 0 0 0-4-4H16v4h16v16Zm-20 4V0H8v8H0v4h8v20a4 4 0 0 0 4 " +
                "4h20v8h4v-8h8v-4H12Z")
              span.visually-hidden Обрезать изображение
            button.editor-tabs__switch.editor-tabs__switch--fill(type="button" data-tab="tabs__item--fill")
              svg(width="48" height="43" viewBox="0 0 48 43" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="img")
                path(d="M33.12 17.88 15.24 0l-2.83 2.83 4.76 4.76L6.88 17.88a3 3 0 0 0 0 4.24l11 11a3 3 0 0 0 4.24 " +
                "0l11-11a3 3 0 0 0 0-4.24ZM10.41 20 20 10.42 29.59 20H10.41ZM38 23s-4 4.33-4 7a4 4 0 1 0 8 0c0-2" +
                ".67-4-7-4-7ZM48 40H0v3h48v-3Z" fill="#283645")
              span.visually-hidden Заливка цветом
            button.editor-tabs__switch.editor-tabs__switch--contrast(type="button" data-tab="tabs__item--contrast")
              svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="img")
                path(d="M16 4a12 12 0 1 1 0 24 12 12 0 0 1 0-24Zm0-4a16 16 0 1 0 0 32 16 16 0 0 0 0-32Z"
                  fill="#283645")
                path(d="M16 24.29a8.52 8.52 0 0 0 0-17" fill="#283645")
              span.visually-hidden Установить контраст
          div.editor-tabs__wrapper
            div.editor-tabs__item.editor-tabs__item--crop.editor-tabs__item--active
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="85.5" name="range" step="0.5")
                span.visually-hidden Ползунок обрезки изображения
            div.editor-tabs__item.editor-tabs__item--fill
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="15.5" name="range" step="0.5")
                span.visually-hidden Ползунок заливки цветом
            div.editor-tabs__item.editor-tabs__item--contrast
              label.editor-tabs__label
                input.editor-tabs__input(type="range" min="0" max="100" value="50" name="range" step="0.5")
                span.visually-hidden Ползунок установки контраста
        div.form__buttons
          button.form__button.form__button--submit(type="submit") Запостить
          button.form__button.form__button--reset(type="reset") Отмена
