extends base

block variables
  - var title = 'Pink - Главная страница'
  - var linkScripts = '../index.js'
  - var namePage = 'Home'

block content
  main.main.main-container
    h1.visually-hidden Мобильное приложение Pink

    section.application
      h2.visually-hidden Скачать мобильное приложение Pink
      div.application__banner
        h3.application__slogan Взгляните на жизнь иначе!
      div.application__download
        div.application__wrapper.container
          a.application__button(href="https://www.apple.com/app-store/") Скачать приложение
          div.application__available-systems
            a.application__link(href="https://www.apple.com/app-store/")
              svg(width="47" height="56" aria-label="App Store" focusable="false" role="img")
                use(href=`${require("Images/brands/brands-sprite.svg")}#logo-apple`)
            a.application__link(href="https://play.google.com")
              svg(width="43" height="47" aria-label="Google Play" focusable="false" role="img")
                use(href=`${require("Images/brands/brands-sprite.svg")}#logo-android`)
            a.application__link(href="http://www.windowsphone.com/store")
              svg(width="44" height="41" aria-label="Windows Phone Store" focusable="false" role="img")
                use(href=`${require("Images/brands/brands-sprite.svg")}#logo-microsoft`)
          p.application__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

    section.advantages
      h2.visually-hidden Наши преимущества
      div.advantages__slogan
        p.advantages__slogan-text Устали от серости мегаполиса?
        p.advantages__slogan-text Нам есть, что вам предложить!
      div.advantages__wrapper.container
        ul.advantages__list
          li.advantages__item
            h3.advantages__title Поднимает настроение
            p.advantages__description Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          li.advantages__item
            h3.advantages__title Меняет мир вокруг
            p.advantages__description Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы #[span усилить эффект]
          li.advantages__item
            h3.advantages__title Заводит новых друзей
            p.advantages__description Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
        div.advantages__image-wrapper
          picture
            source(
              media="(min-width: 677px)"
              srcset=`${require("Images/content/tablet/advantages-tablet.png")} 1x, ${require("Images/content/tablet/advantages-tablet@2x.png")} 2x`
            )
            img.advantages__image.advantages__image--no-desktop(
              src=require("Images/content/mobile/advantages-mobile.png")
              srcset=`${require("Images/content/mobile/advantages-mobile@2x.png")} 2x`
              alt="Всем привет"
            )
          img.advantages__image.advantages__image--desktop(
            src=require("Images/content/desktop/advantages-desktop-1.png")
            srcset=`${require("Images/content/desktop/advantages-desktop-1@2x.png")} 2x`
            width="308"
            height="382"
            alt="Черно-белая картинка"
          )
          img.advantages__image.advantages__image--desktop(
            src=require("Images/content/desktop/advantages-desktop-2.png")
            srcset=`${require("Images/content/desktop/advantages-desktop-2@2x.png")} 2x`
            width="308"
            height="382"
            alt="Картинка с розовым фильтром"
          )
          img.advantages__image.advantages__image--desktop(
            src=require("Images/content/desktop/advantages-desktop-3.png")
            srcset=`${require("Images/content/desktop/advantages-desktop-3@2x.png")} 2x`
            width="308"
            height="382"
            alt="Всем привет"
          )

    section.effect
      div.effect__wrapper.container
        h2.effect__slogan Эффект #[br] на 24 часа!
        p.effect__description Британские ученые провели исследования #[br] и доказали, #[br] что положительный эффект #[br] от использования приложения длится #[br] целые сутки!
        a.effect__link(href="#") Узнать больше об исследовании

    section.reviews
      h2.visually-hidden Отзывы о нас
      div.reviews__slider.slider.container
        blockquote.slider__item.slider__item--active
          p.slider__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          span.slider__author-name Николай Петров
          span.slider__author-info 25 лет, водитель трамвая
        blockquote.slider__item
          p.slider__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          span.slider__author-name Иван Сидоров
          span.slider__author-info 37 лет, менеджер среднего звена
        blockquote.slider__item
          p.slider__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          span.slider__author-name Екатерина Великая
          span.slider__author-info 43 лет, крупный руководитель
        div.slider__arrows
          button.slider__arrow.slider__arrow--prev(type="button")
            span.visually-hidden Назад
            svg(width="22" height="41" aria-hidden="true" focusable="false" role="img")
              use(href=`${require("Images/icons/icons-sprite.svg")}#icon-arrow`)
          button.slider__arrow.slider__arrow--next(type="button")
            span.visually-hidden Вперед
            svg(width="22" height="41" aria-hidden="true" focusable="false" role="img")
              use(href=`${require("Images/icons/icons-sprite.svg")}#icon-arrow`)
        +slider-toggles("reviews__toggles", "first")

    section.price
      h2.visually-hidden Наши тарифы
      div.price__slider.container
        table.price__table.table-price
          tr
            th.table-price__mobile-off
            th База
              span 1,99 USD
            th.table-price__hit-ribbon Стандарт
              span 3,99 USD
            th Анлим
              span 9,99 USD
          tr
            td.table-price__mobile-off Розовый фильтр
            td.table-price__enable
              span.table-price__mobile-on Розовый фильтр
              span.visually-hidden Опция включена
            td.table-price__enable
              span.table-price__mobile-on Розовый фильтр
              span.visually-hidden Опция включена
            td.table-price__enable
              span.table-price__mobile-on Розовый фильтр
              span.visually-hidden Опция включена
          tr
            td.table-price__mobile-off Смайлики
            td.table-price__disable
              span.table-price__mobile-on Смайлики
              span.visually-hidden Опция недоступна
            td.table-price__enable
              span.table-price__mobile-on Смайлики
              span.visually-hidden Опция включена
            td.table-price__enable
              span.table-price__mobile-on Смайлики
              span.visually-hidden Опция включена
          tr
            td.table-price__mobile-off Комментарии
            td.table-price__disable
              span.table-price__mobile-on Комментарии
              span.visually-hidden Опция недоступна
            td.table-price__disable
              span.table-price__mobile-on Комментарии
              span.visually-hidden Опция недоступна
            td.table-price__enable
              span.table-price__mobile-on Комментарии
              span.visually-hidden Опция включена
        +slider-toggles("price__toggles", "second")

    section.contacts.container
      h2.visually-hidden Контакты
      span.contacts__slogan Остались вопросы? Свяжитесь с нами!
      ul.contacts__list
        li.contacts__item
          h3.contacts__title Звоните:
          a.contacts__phone(href="tel:+78125556666") +7 (812) 555-66-66
        li.contacts__item
          h3.contacts__title Пишите:
          a.contacts__mail(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
        li.contacts__item
          h3.contacts__title Приезжайте в гости:
          address.contacts__address ул. Большая Конюшенная, 19/8
      div.contacts__map-wrapper
        iframe(class="contacts__map-mobile" src="https://yandex.ru/map-widget/v1/-/CKauEWN-" width="320" height="200" allowfullscreen)
        iframe(class="contacts__map-tablet" src="https://yandex.ru/map-widget/v1/-/CKauEWN-" width="660" height="374" allowfullscreen)
        iframe(class="contacts__map-desktop" src="https://yandex.ru/map-widget/v1/-/CKauEWN-" width="1200" height="502" allowfullscreen)
